<div class="row">
    <div class="col col-md"></div>
    <div class="col-10 col-md-8">
        <h2>Añadir nuevo proveedor</h2>
        <a class="btn btn-primary float-md-right" routerLink="/proveedores">Regresar al listado</a>
        <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <i class="fa fa-check-circle check" *ngIf="proveedor.controls.nombre.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedor.controls.nombre.invalid &&
               proveedor.controls.nombre.touched"></i>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                <p class="alert alert-danger" *ngIf="proveedor.controls.nombre.invalid &&
                         proveedor.controls.nombre.touched">El campo nombre es obligatorio</p>
            </div>
            <div class="form-group">
                <label for="cif">CIF</label>
                <input type="text" class="form-control" id="cif" formControlName="cif">
            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input type="text" class="form-control" id="direccion" formControlName="direccion">
            </div>
            <div class="form-group">
                <label for="cp">CP</label>
                <input type="text" class="form-control" id="cp" formControlName="cp">
            </div>
            <div class="form-group">
                <label for="Localidad">Localidad</label>
                <input type="text" class="form-control" id="localidad" formControlName="localidad">
            </div>
            <div class="form-group">
                <label for="provincia">Provincia</label>
                <input type="text" class="form-control" id="provincia" formControlName="provincia">
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="number" class="form-control" id="telefono" formControlName="telefono">
            </div>
            <div class="form-group">
                <label for="email">Correo Electronico</label>
                <i class="fa fa-check-circle check" *ngIf="proveedor.controls.email.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="proveedor.controls.email.invalid && proveedor.controls.email.touched"></i>
                <input type="text" class="form-control" id="email" formControlName="email" required email>
                <p class="alert alert-danger" *ngIf="proveedor.controls.email.invalid && proveedor.controls.email.touched">
                    Por favor introduzca una direccion de correo valida
                </p>
            </div>
            <div class="form-group">
                <label for="contacto">Contacto</label>
                <input type="text" class="form-control" id="contacto" formControlName="contacto">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!proveedorForm.valid">
              Añadir Proveedor
            </button>
            <a class="btn btn-danger" routerLink="/proveedores">Cancelar</a>
            <p class="alert alert-danger" *ngIf="!proveedorForm.valid">
                Por favor complete todos los campos obligatorios
            </p>
        </form>

    </div>

    <div class="col col-md"></div>
</div>