<h3 style="margin-left: 40px; margin-top: 40px;">Listado de Proveedores</h3>
<a class="btn btn-primary float-md-right" routerLink="/addprovee">Añadir nuevo proveedor</a>
<table class="table table-bordered table-striped" style="margin-left: 40px; margin-top: 40px;">
  <thead>
   <tr class="filters">
     <th>Nombre</th>
     <th>Cif</th>
     <th>Direccion</th>
     <th>CP</th>
     <th>Localidad</th>
     <th>Provincia</th>
     <th>Telefono</th>
     <th>Correo electronico</th>
     <th>Contacto</th>
     <th>Editar</th>
     <th>Eliminar</th>
   </tr> 
  </thead>
  <tbody>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{ proveedor.nombre }}</td>
      <td>{{ proveedor.cif }}</td>
      <td>{{ proveedor.direccion }}</td>
      <td>{{ proveedor.cp }}</td>
      <td>{{ proveedor.localidad }}</td>
      <td>{{ proveedor.provincia }}</td>
      <td>{{ proveedor.telefono }}</td>
      <td>{{ proveedor.email }}</td>
      <td>{{ proveedor.contacto }}</td>
      <td>
        <button type="button" class="btn btn-success"
        routerLink="/editprovee/{{ proveedor.id$ }}"> Editar </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger"
        (click)="eliminarPoveedor(proveedor.id$)"> Eliminar </button>
      </td>
    </tr>
  </tbody>
  
</table>


    